body {
  background-color: #282828;
  color: lightgray;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: white;
}

.navBarBranding {
  display: flex;
  align-items: center;
}

.navBarLogoCont {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #555; 
  margin-right: 0.625rem;
}

.navBarLogoText {
  font-size: 1.125rem;
  font-weight: bold;
}

.navBarButtonsCont {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 4.60rem;
  right: 0; 
  background-color: #444;
  border-radius: 0.3125rem;
  width: 100%; 
}

.navBarButton {
  background-color: transparent;
  box-sizing: border-box;
  color: white;
  padding: 1rem; 
  text-align: right; 
  border: none;
  cursor: pointer;
  width: 100%; 
  display: flex; 
  justify-content: flex-end; 
  text-decoration: none;
}

.navBarButton:hover {
  background-color: #555;
}

/* Hamburger Button */
.hamburgerButton {
  background-color: transparent;
  color: white;
  font-size: 1.5rem; 
  border: none;
  cursor: pointer;
}

/* Menu Open State */
.navBarButtonsCont.open {
  display: flex;
}

.navBarButton.active {
  background-color: #555; 
  color: #fff;
}

.page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageTitle{
  font-size: 2.5rem;
  padding: 1rem;
  padding-top: 5rem;
  text-align: center;
}

.aboutButtonCont{
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutButton {
  background-color: #333;
  border: none;
  color: white;
  padding: 0.5rem;
}

.loginSignupCont{
  margin-top: 8rem;
  background-color: #333;
  width: 95%;
}

.tabsCont {
  width: 100%;
  background-color: #444;
  height: 2.5rem;
}

.tabButton {
  width: 50%;
  height: 100%;
  background-color: #282828;
  border: none;
  color: white;
}

.tabButton.active{
  background-color: #333;
  color: white;
}

.loginSignupForm{
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.formGroup{
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem ;
}

.submitButton{
  border: none;
  background-color: #282828;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  font-size: 1rem;
}

.profileButton {
  margin-top: 1rem;
  border: none;
  background-color: #444;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  font-size: 1rem;
}

.submissionCont {
  width: 50%;
  margin-top: 5rem;
}

.viewerPage {
  height: 100vh;
}

@media (min-width: 48rem) { 
  .hamburgerButton {
    display: none; 
  }

  .navBarButtonsCont {
    display: flex;
    flex-direction: row;
    position: static;
    transform: none;
    background-color: transparent;
    width: 40%;
    
  }

  .navBarButton {
    padding: 0.625rem 1.25rem; 
    justify-content: center;
    text-align: center;
  }
  
}

